@model IEnumerable<ECommerceSite.Models.Category>
@{
    ViewBag.Title = "Store";
}
<h3>Browse Genres</h3>
<p>
    Select from @Model.Count() genres:
</p>
<ul>
    @foreach (var categorie in Model)
    {
        <li>@Html.ActionLink(categorie.Name, "Browse", new { category = categorie.Name })</li>
    }
</ul>
